.main{
    
    border-radius: 20px;
    padding: 0px;
    width: 80%;
    margin:auto;
    text-align: center;
}
video{
    border: 2px solid rgba(63, 12, 110, 0.8);
    margin: 0;
    padding: 0;
    border-radius: 20px;
    position: relative;
    width: 100%;
}

#free{
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-template-rows: 150px;
    line-height: 130px;
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 350px;
    top: 300px;
}
    #free a{
        font-size: 43px;
        font-weight: 600;
        color: rgb(252, 252, 95);
        text-decoration: none;
        background-color: rgba(32, 32, 24, 0.85);
        padding: 10px;
        transition: 1s;
    }
    #free a:hover{
        transform: scale(1.1);
        border-radius: 50px;
        text-decoration: wavy rgba(153, 205, 50, 0.7) underline;
        color: yellow;
    }