.main{
    padding: 2%;
    width: 80%;
    margin: auto;
    position: relative;
}
video{
    border: 2px solid rgba(63, 12, 110, 0.8);
    margin: 0;
    padding: 0;
    border-radius: 2rem;
    width: 100%;
}

#free{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    width: 90%;
    left: 5%;
    top: 20%;
}
    #free a{
        font-size: 2rem;
        font-weight: 600;
        color: rgb(252, 252, 95);
        text-decoration: none;
        background-color: rgba(32, 32, 24, 0.85);
        padding: 5%;
        margin: 3%;
        transition: 1s;
    }
    #free a:hover{
        transform: scale(1.1);
        border-radius: 50px;
        text-decoration: wavy rgba(153, 205, 50, 0.7) underline;
        color: yellow;
    }