@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
html{
    background-color: ghostwhite;
}
*{
    font-family:'Gowun Dodum', sans-serif;;
}
h1{
    text-align: center;
    text-shadow: 7px 7px 7px #7c12dfa6;
}
nav{
    margin: auto;
    text-align: center;
    display: block;
    width: 60%;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav a{
    padding: 15px 20px;
    text-decoration: none;
}
nav a:hover{
    color:cornflowerblue;
}
.main{
    text-align: center;
    clear: left;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
    padding: 30px;
    line-height: 30px;
    width: 80%;
    margin:auto;
}

table{
    border-collapse: collapse;
    display: inline-block;
}
caption{
    font-weight: bold;
}
th, td{
    font-style: italic;
    border: 0.1rem dotted cadetblue;
    padding: 5px;
}

.copyright{
    color: cornflowerblue;
    text-align: center;
}