@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
html{
    background-color: ghostwhite;
}
*{
    font-family:'Gowun Dodum', sans-serif;;
}
header{
    position: sticky;
    top: 20px;
}
    h1{
        text-align: center;
        text-shadow: 7px 7px 7px #7c12dfa6;
        transition: 0.5s;
    }
        h1:hover{
            transform: scale(1.1);
        }
    h1 a{
        transition: 0.5s;   
    }
        h1 a:hover{
            color:cadetblue;
        }
    nav{
        margin: auto;
        padding: 5px;
        text-align: center;
        display: block;
        width: 30%;
        background-color: rgba(248, 248, 255, 0.8);
    }
        nav ul{
            padding-inline-start: 0;
        }
        nav li{
            list-style: none;
            display: inline-block;
        }
        nav a{
            padding: 15px 20px;
            text-decoration: none;
        }
            nav a:hover{
                color:cornflowerblue;
            }
aside{
    float:left;
    position: fixed;
}
    aside ul{
        color: rgb(50, 15, 83);
        margin: 3px;
        margin-top: 30px;
        padding: 0;
        list-style-type: none;
        line-height: 30px;
    }
    aside a{
        text-decoration: none;    
    }
        aside a:hover{
        color: violet;
    }
.main{
    border: 7px solid rgba(63, 12, 110, 0.8);
    border-radius: 20px;
    padding: 30px;
    line-height: 30px;
    width: 80%;
    margin:auto;
}
    section{
        font-size: 17px;
    }
.copyright{
    color: cornflowerblue;
    text-align: center;
}