/* aside bar */
aside{
    float:left;
    position: fixed;
}
    aside ul{
        margin: 3px;
        margin-top: 30px;
        padding: 0;
        list-style-type: none;
        line-height: 1.2;
    }
    aside a{
        text-decoration: none;
        color: rgb(50, 15, 83);
    }
        aside a:hover{
        color: violet;
    }
.index{
    text-align: center;
}
/* main */
.main{
    border: 7px solid rgba(44, 26, 77, 0.7);
    background-color: ghostwhite;
    border-radius: 2rem;
    padding: 3%;
    width: 80%;
    margin: auto;
}
.main p{
    padding-right: 10%;
}
.main ul{
    padding-left: 3%;
}
.main li{
    margin-bottom: 1%;
}
    .js_p{
        opacity: 0;
    }
    .disc{
        list-style-type: disc;
    }

table{
    border-collapse: collapse;
    float: left;
    position: fixed;
}
caption{
    font-weight: bold;
}
th, td{
    font-style: italic;
    border: 0.1rem dotted cadetblue;
    padding: 5px;
}
