@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
html{
    background-color: ghostwhite;
}
*{
    font-family:'Gowun Dodum', sans-serif;;
}
h1{
    text-align: center;
    text-shadow: 7px 7px 7px #7c12dfa6;
}
nav{
    margin: auto 35% auto 38%;
    display: block;
    width: 60%;
}
nav li{
    float: left;
    list-style: none;
    display: inline-block;
}
nav a{
    display:block;
    padding:10px 20px;
    text-decoration: none;
}
nav a:hover{
    color:cornflowerblue;
}

.main{
    clear: left;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    margin:auto;
}
p{
    opacity: 0;
}
.copyright{
    color: cornflowerblue;
    text-align: center;
}