@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
*{
    font-family:'Nanum Myeongjo', serif;
}
.main{
    border: 10px solid cornflowerblue;
    padding: 30px;
}
h1{
    text-align: center;
}
.copyright{
    color: cornflowerblue;
    text-align: center;
}